.utils {
}

.u--danger {
    color: #da4646;
}

.u--hint {
    font-size: 14px;
    color: #aaa;
}

.u--center {
    text-align: center;
}

// Javacript helper

[data-view],
[data-stage] {
    display: none;
}
